---
layout: default
---

<div class="home">

  <h2 class="page-heading">My Work</h2>

  <ul class="post-list">
    {% assign sorted = (site.portfolio | sort: 'order') %}
    {% for post in sorted %}
      <li>
        <!-- <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> -->

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          {% if post.github-repo %}
            <a class="github-link" href="{{ post.github-repo }}">View on github <span class="icon icon--github">{% include icon-github.svg %}</span></a>
          {% endif %}
        </h2>

        <div class="thumbnail-pic">
          <img src="{{post.thumbnail-path}}" alt="{{post.title}}">
        </div>
        {{post.excerpt}}

      </li>
    {% endfor %}
  </ul>


</div>
