<div class="banner">
  <section class="banner-content">
    <div class="banner-col-1">
      <div class="headshot-thumbnail">
        <img src="./img/slk_hackathon.jpg" alt="Steven Lee-Kramer" />
      </div>
    </div>
    <div class="banner-col-2">
      <div class="banner-logo">
        <img src="./img/Steven_developer_logo_1x.png" alt="" />
      </div>
      <h4 class="banner-description">Preparing for the Javascript frameworks of tomorrow by mastering those of today.</h4>
    </div>
  </section>
</div>
